@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #e0a5ef;
  --foreground: #3f0d70;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e0a5ef;
  --foreground: #3f0d70;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
